@charset "uth-8";

#layout {
    display: flex;
}

header {
    width: 20%;
}

main {
    width: 30%;
}

footer {
    position: fixed;
    transform: translateY(0);
    height: 10vh;
}

a {
    color: black;
    text-decoration: none;
}