@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: rgb(110, 64, 53);
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    display: block;
}

#layout {
    height: calc(100vh - 10vh);
    background-color: ivory;
}

/* ====================header========================== */
header {
    height: 20%;
    background-color: white;
    display: flex;
    align-items: flex-end;
}

#logo{
    height: 100%;
    padding: 10px;
    background-color: rgb(125, 175, 245);
}

#logo>img{
    max-height: 100%;
}

/* ===================header-Menu==================== */
header ul {
    flex:1; 
    list-style:none; 
    display: flex; 
    text-align: center; 
}

header li {
    flex: 1;
    position: relative;
    
}

.mainMenu {
    font-size: clamp(0.7rem, 1.5vw, 1.3rem);
    font-weight:bold;
    padding:8px 0 10px;
    letter-spacing: 3px;
}

.mainMenu:not(#line) {border-left: 1px solid rgb(110, 64, 53);}

 .subMenu {
    background: rgba(255,255,255 , 0.9); 
    max-height: 0; 
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
 }

 .subMenu a {
    padding: 3% 0 4%;
    font-size: clamp(0.3rem, 1.2vw, 1rem);
 }
 
 /* 메뉴호버*/
 header li .subMenu {
    transition: 0.5s;
 }

 header li:hover .mainMenu {
    background:rgb(125, 175, 245); 
    color:white;
 }

 header li:hover .subMenu {
    max-height: 300px;
    padding: 5% 0;
 }

 .subMenu a:hover {
    background: rgb(125, 175, 245);
    color: white;
 } 

 /* ===================menu=============================== */
 main {
    display: flex;
    height: calc(100vh - 30vh);
    align-items: center;
 }

 #notigall {
    flex: 0.5;
 }

 #slideArea {
    flex: 1;
 }

 #slideArea> div {
    position: relative; 
    margin-bottom: 55%;  
 }

 #slideArea> div> div {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 0.8s;
    border-radius: 30px;
 }

 #slideArea> div> div> a img {
    border-radius: 30px;
 }

 #quick {
    flex: 0.3;
 }

/* ======================footer========================= */
footer {
    height: calc(100vh - 90vh);
    background-color: rgb(110, 64, 53);
}