@charset "utf-8";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   color: rgb(110, 64, 53);
   text-decoration: none;
   display: block;
}

img {
   max-width: 100%;
   display: block;
}

#layout {
   height: calc(100vh - 15vh);
}

/* ====================header========================== */
header {
   height: 20%;
   background-color: white;
}

#logo{
   height: 100%;
   padding: 10px;
   background-color: rgb(125, 175, 245);
   display: flex;
   justify-content: center;
}

#logo>img{
   max-height: 100%;
}

/* ===================header-Menu==================== */
header ul {
   flex:1; 
   list-style:none; 
   display: flex; 
   text-align: center; 
}

header li {
   flex: 1;
   position: relative;
}

.mainMenu {
   font-size: clamp(0.7rem, 1.5vw, 1.3rem);
   font-weight:bold;
   padding:8px 0 10px;
   letter-spacing: 3px;
   border-bottom: 1px solid rgb(110, 64, 53);
}

.mainMenu:not(#line) {border-left: 1px solid rgb(110, 64, 53);}

 .subMenu {
   background: rgba(255, 255, 255, 0.95); 
   max-height: 0; 
   overflow: hidden;
   position: absolute;
   width: 100%;
   z-index: 1;
 }

 .subMenu a {
   padding: 3% 0 4%;
   color: black;
   font-size: clamp(0.3rem, 1.2vw, 1rem);
 }
 
 /* 메뉴호버*/
 header li .subMenu {
   transition: 0.5s;
 }

 header li:hover .mainMenu {
   background:rgb(125, 175, 245); 
   color:white;
 }

 header li:hover .subMenu {
   max-height: 500px;
   padding: 5% 0;
 }

 .subMenu a:hover {
   background: rgb(125, 175, 245);
   color: white;
 } 

 /* ===================main=============================== */
 main {
   height: calc(100vh - 50vh);
   transform: translateY(13%);
 }
 
 main section {
   display: flex;
   margin-top: 3%;
   }

 main section #title {
   flex: 0.4;
   margin-left: 18%;
 }

 main section #title .titleData {
   text-align: center;
   padding: 2% 3% 1.5% 3%;
   margin-top: 4%;
   margin-bottom: 8%;
   font-size: 1.1em;
 }

 main section #diary {
   flex: 0.7;
   display: flex;
   margin-right: 10%;
 }

 main section #diary> button {
   background: transparent;
   border: 1px solid #555;
 }

 #textarea {
   background-image: url(images/image1.jpg);
   background-size: 100% 100%;
   width: 100%;
   padding: 19%;
   resize: none;
   opacity: 0.8;
   font-weight: bold;
   font-size: 1.3em;
   border: 1px solid #555;
 }


 main section textarea::placeholder {
   color: black;
   font-weight: bold;
 }

 main #save {
   float: right;
   margin-top: 1.3%;
   margin-right: 10%;
 }
 
 
 /* ======================footer========================= */
 
 footer ul {
   flex: 1;
   list-style:none; 
   display: flex; 
   text-align: center;
   border-top: 1px solid rgb(110, 64, 53);
  }
  
  footer ul li:not(#line2) {border-left: 1px solid rgb(110, 64, 53);}
  
  footer ul li {
    flex: 1;
  }
  
  .underMenu {
    font-size: clamp(0.7rem, 1.2vw, 1.3rem);
    font-weight:bold;
    padding:8px 0 10px;
    letter-spacing: 3px;
  }
  
  footer> ul li:nth-of-type(1) a{
    background: rgb(110, 64, 53);
    color: white;
  }
  
  footer ul li:hover a{
    background: rgb(110, 64, 53);
    color: white;
  }

  /* ----------------------------------------------------------------- */

  footer div{
    height: calc(100vh - 90.9vh);
   background-color: rgb(110, 64, 53);
}

  
footer p {
  position: fixed;
  bottom: 1%;
  left: 1.5%;
  color: white;
  font-size: small;
  line-height: 150%;
}